:root{
  --bg: #1b1d24;
  --fr: #2a3147;
}

body{
  background-color: var(--bg);
  color: rgb(228, 231, 248);
}
button{
  background-color: var(--fr);
  font-size: 3vw;
  border-radius: 2vw;
  color: aliceblue;
  cursor: pointer;
  border: none;
  padding: 0.4vw;
}
figure{
  margin: 10vw;
}
input{
  margin: 1vw 20vw;
  font-size: 1vw;
  padding: 0.2vw;
}
.chalky{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto)
}

.chalka{
  background-color: var(--fr);
  border-radius: 2vw;
  padding: 1vw;
  width: 90%;
  cursor: pointer;
}

.chalkaImg{
  width: 10vw;
  border-radius: 1vw;
}
.chalkaImgBig{
  width: 20vw;
  border-radius: 1vw;
}
.stars{
  float: right;
}
.specificChalka{
  background-color: var(--fr);
  border-radius: 1vw;
  padding: 1vw;
}
.date{
  color: rgba(255, 255, 255, 0.534);
  float: right;
}
.comment{
  padding: 2vw;
  margin: 3vw;
  background-color: var(--bg);
}
.header{
  cursor: pointer;
}
.addchalka{
  float: right;
}
.newchalkaInput{
  font-size: 2vw;
  width: 60vw;
}
.no{
  display: none;
}
.spinner{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 20vw;
}
.newChalkaPage{
  overflow: hidden;
}