:root{
  --bg: rgb(27, 29, 36);
  --fr: rgb(42, 49, 71);
}

body{
  background-color: var(--bg);
  color: rgb(228, 231, 248);
}

.chalky{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto)
}

.chalka{
  background-color: var(--fr);
  border-radius: 2vw;
  padding: 1vw;
  width: 90%;
}

.chalkaImg{
  width: 10vw;
  border-radius: 1vw;
}
.chalkaImgBig{
  width: 20vw;
  border-radius: 1vw;
}
.stars{
  float: right;
}
.specificChalka{
  background-color: var(--fr);
  border-radius: 1vw;
  padding: 1vw;
}
.date{
  color: rgba(255, 255, 255, 0.534);
  float: right;
}
.comment{
  padding: 2vw;
  margin: 5vw;
  background-color: var(--bg);
}